openapi: 3.1.0
info:
  title: OMNI Pre-Execution Trust & Risk API
  version: 0.2.0
  description: >
    Machine-consumable pre-execution risk evidence for software supply chain and x402 services.
    Paid per request through Circle Gateway nanopayments, including Arc Mainnet.
  contact:
    email: askomni.xyz@gmail.com
  x-guidance: >
    Use OMNI before an agent installs a package, trusts a GitHub repository,
    evaluates a dependency set, or pays an x402 endpoint. Inputs are an exact
    package coordinate, repository owner/name, up to 100 exact package
    coordinates, or a target endpoint URL. Outputs include riskScore,
    scoreStatus, recommendation, evidenceCoverage, bounded scoring-relevant signals and summaries,
    sourceErrors, and deterministic application/json or text/markdown representations. OMNI is
    advisory: caller policy decides whether to proceed, the wallet/runtime
    enforces payment policy, and Circle settles payment. Call OMNI when fresh
    pre-execution evidence is required before software execution or payment.
servers:
  - url: https://api.askomni.xyz
externalDocs:
  description: OMNI agent usage, payment, and integration guidance
  url: https://api.askomni.xyz/llms.txt
paths:
  /health:
    get:
      operationId: getHealth
      summary: Report process liveness.
      description: Returns HTTP 200 when the OMNI process is running and can serve HTTP responses. It does not check upstream evidence providers or history storage.
      responses:
        '200':
          description: The OMNI process is alive.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                required: [service, status]
                properties:
                  service: { type: string, const: OMNI }
                  status: { type: string, const: healthy }
  /ready:
    get:
      operationId: getReadiness
      summary: Report whether this replica can accept paid API requests.
      description: History storage is non-blocking for core assessments, but the durable paid-request store is required before this replica can accept paid API requests.
      responses:
        '200':
          description: This replica can accept paid API requests when status is ready.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                required: [service, status, dependencies]
                properties:
                  service: { type: string, const: OMNI }
                  status: { type: string, const: ready }
                  dependencies:
                    type: object
                    additionalProperties: false
                    required: [historyStore, threatIntelligence, paidRequests]
                    properties:
                      historyStore: { type: string, enum: [available, degraded] }
                      threatIntelligence: { type: string, enum: [configured, unconfigured, degraded] }
                      paidRequests: { type: string, const: available }
        '503':
          description: This replica cannot safely accept paid API requests because the durable paid-request store is unavailable.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                required: [service, status, dependencies]
                properties:
                  service: { type: string, const: OMNI }
                  status: { type: string, const: degraded }
                  dependencies:
                    type: object
                    additionalProperties: false
                    required: [historyStore, threatIntelligence, paidRequests]
                    properties:
                      historyStore: { type: string, enum: [available, degraded] }
                      threatIntelligence: { type: string, enum: [configured, unconfigured, degraded] }
                      paidRequests: { type: string, const: unavailable }
  /v1/package/risk:
    get:
      operationId: getPackageRisk
      summary: Assess an exact package version before an agent installs it.
      description: "Price: $0.005 USDC per request. npm assessments combine vulnerability/exploitation evidence with registry supply-chain metadata and optional licensed threat-intelligence matches."
      x-payment-info:
        price:
          mode: fixed
          currency: USDC
          amount: "0.005000"
        protocols:
          - x402: {}
        accepts:
          - scheme: exact
            network: "eip155:5042"
            asset: "0x3600000000000000000000000000000000000000"
            payTo: "0xd5154d79b52a5980e7b0e806f5e4bf3dca3798b5"
          - scheme: exact
            network: "eip155:8453"
            asset: "0x833589fcd6edb6e08f4c7c32d4f71b54bda02913"
            payTo: "0xd5154d79b52a5980e7b0e806f5e4bf3dca3798b5"
          - scheme: exact
            network: "eip155:1"
            asset: "0xa0b86991c6218b36c1d19d4a2e9eb0ce3606eb48"
            payTo: "0xd5154d79b52a5980e7b0e806f5e4bf3dca3798b5"

      parameters:
        - { $ref: '#/components/parameters/IdempotencyKey' }
        - { $ref: '#/components/parameters/Accept' }
        - { in: query, name: ecosystem, required: true, schema: { type: string, minLength: 1, maxLength: 32 }, example: npm }
        - { in: query, name: name, required: true, schema: { type: string, minLength: 1, maxLength: 256 }, example: express }
        - { in: query, name: version, required: true, schema: { type: string, minLength: 1, maxLength: 128 }, example: 5.2.1 }
      responses:
        '200':
          description: Compact machine-readable assessment with explicit source failures and omission counts.
          headers:
            PAYMENT-RESPONSE:
              $ref: '#/components/headers/PaymentResponse'
          content:
            application/json:
              schema: { $ref: '#/components/schemas/RiskAssessmentResponse' }
            text/markdown:
              schema: { type: string }
        '400': { $ref: '#/components/responses/InvalidRequest' }
        '409': { $ref: '#/components/responses/IdempotencyConflict' }
        '402': { $ref: '#/components/responses/PaymentRequired' }
        '503': { $ref: '#/components/responses/PaidRequestUnavailable' }
        '406': { $ref: '#/components/responses/NotAcceptable' }
  /v1/repo/risk:
    get:
      operationId: getRepositoryRisk
      summary: Assess GitHub repository security practices.
      description: "Price: $0.01 USDC per request. GitHub repository evidence is bound to the resolved immutable commit; deps.dev provenance is checked against the expected repository/commit where available. Repository evidence from GitHub, OpenSSF Scorecard, dependency resolution, deps.dev provenance, and threat intelligence is attributed independently. Missing evidence affects coverage, scoreStatus, and recommendation gating; it does not itself increase observed repository riskScore."
      x-payment-info:
        price:
          mode: fixed
          currency: USDC
          amount: "0.010000"
        protocols:
          - x402: {}
        accepts:
          - scheme: exact
            network: "eip155:5042"
            asset: "0x3600000000000000000000000000000000000000"
            payTo: "0xd5154d79b52a5980e7b0e806f5e4bf3dca3798b5"
          - scheme: exact
            network: "eip155:8453"
            asset: "0x833589fcd6edb6e08f4c7c32d4f71b54bda02913"
            payTo: "0xd5154d79b52a5980e7b0e806f5e4bf3dca3798b5"
          - scheme: exact
            network: "eip155:1"
            asset: "0xa0b86991c6218b36c1d19d4a2e9eb0ce3606eb48"
            payTo: "0xd5154d79b52a5980e7b0e806f5e4bf3dca3798b5"

      parameters:
        - { $ref: '#/components/parameters/IdempotencyKey' }
        - { $ref: '#/components/parameters/Accept' }
        - { in: query, name: owner, required: true, schema: { type: string, pattern: '^[A-Za-z0-9_.-]{1,100}$' }, example: expressjs }
        - { in: query, name: repo, required: true, schema: { type: string, pattern: '^[A-Za-z0-9_.-]{1,100}$' }, example: express }
      responses:
        '200':
          description: Compact machine-readable assessment with explicit source failures and omission counts.
          headers:
            PAYMENT-RESPONSE:
              $ref: '#/components/headers/PaymentResponse'
          content:
            application/json:
              schema: { $ref: '#/components/schemas/RiskAssessmentResponse' }
            text/markdown:
              schema: { type: string }
        '400': { $ref: '#/components/responses/InvalidRequest' }
        '409': { $ref: '#/components/responses/IdempotencyConflict' }
        '402': { $ref: '#/components/responses/PaymentRequired' }
        '503': { $ref: '#/components/responses/PaidRequestUnavailable' }
        '406': { $ref: '#/components/responses/NotAcceptable' }
  /v1/dependencies/risk:
    post:
      operationId: assessDependencies
      summary: Assess up to 100 exact dependency versions.
      description: "Price: $0.05 USDC per request. Packages are evaluated in bounded waves to protect upstream capacity."
      x-payment-info:
        price:
          mode: fixed
          currency: USDC
          amount: "0.050000"
        protocols:
          - x402: {}
        accepts:
          - scheme: exact
            network: "eip155:5042"
            asset: "0x3600000000000000000000000000000000000000"
            payTo: "0xd5154d79b52a5980e7b0e806f5e4bf3dca3798b5"
          - scheme: exact
            network: "eip155:8453"
            asset: "0x833589fcd6edb6e08f4c7c32d4f71b54bda02913"
            payTo: "0xd5154d79b52a5980e7b0e806f5e4bf3dca3798b5"
          - scheme: exact
            network: "eip155:1"
            asset: "0xa0b86991c6218b36c1d19d4a2e9eb0ce3606eb48"
            payTo: "0xd5154d79b52a5980e7b0e806f5e4bf3dca3798b5"

      parameters:
        - { $ref: '#/components/parameters/IdempotencyKey' }
        - { $ref: '#/components/parameters/Accept' }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required: [packages]
              properties:
                packages:
                  type: array
                  minItems: 1
                  maxItems: 100
                  items: { $ref: '#/components/schemas/PackageCoordinate' }
      responses:
        '200':
          description: Per-package assessments and aggregate summary.
          headers:
            PAYMENT-RESPONSE:
              $ref: '#/components/headers/PaymentResponse'
          content:
            application/json:
              schema: { $ref: '#/components/schemas/DependencyAssessment' }
            text/markdown:
              schema: { type: string }
        '400': { $ref: '#/components/responses/InvalidRequest' }
        '409': { $ref: '#/components/responses/IdempotencyConflict' }
        '402': { $ref: '#/components/responses/PaymentRequired' }
        '503': { $ref: '#/components/responses/PaidRequestUnavailable' }
        '406': { $ref: '#/components/responses/NotAcceptable' }
  /v1/x402/endpoint/preflight:
    get:
      operationId: preflightX402Endpoint
      summary: Assess an x402 endpoint before an agent decides to call or pay it.
      description: "Price: $0.01 USDC per request. Combines Circle Discovery identity, constrained unpaid handshake evidence, OMNI change history, payout configuration drift, and licensed IOC matches when configured. Listed non-GET endpoints are not invoked."
      x-payment-info:
        price:
          mode: fixed
          currency: USDC
          amount: "0.010000"
        protocols:
          - x402: {}
        accepts:
          - scheme: exact
            network: "eip155:5042"
            asset: "0x3600000000000000000000000000000000000000"
            payTo: "0xd5154d79b52a5980e7b0e806f5e4bf3dca3798b5"
          - scheme: exact
            network: "eip155:8453"
            asset: "0x833589fcd6edb6e08f4c7c32d4f71b54bda02913"
            payTo: "0xd5154d79b52a5980e7b0e806f5e4bf3dca3798b5"
          - scheme: exact
            network: "eip155:1"
            asset: "0xa0b86991c6218b36c1d19d4a2e9eb0ce3606eb48"
            payTo: "0xd5154d79b52a5980e7b0e806f5e4bf3dca3798b5"

      parameters:
        - { $ref: '#/components/parameters/IdempotencyKey' }
        - { $ref: '#/components/parameters/Accept' }
        - { in: query, name: url, required: true, schema: { type: string, format: uri, maxLength: 2048 } }
      responses:
        '200':
          description: "Endpoint risk assessment with source-attributed evidence and explicit source failures. preflightContext is observational/advisory: it reports the payment configuration observed during preflight and is not an authorization object."
          headers:
            PAYMENT-RESPONSE:
              $ref: '#/components/headers/PaymentResponse'
          content:
            application/json:
              schema: { $ref: '#/components/schemas/X402EndpointPreflight' }
            text/markdown:
              schema: { type: string }
        '400': { $ref: '#/components/responses/InvalidRequest' }
        '409': { $ref: '#/components/responses/IdempotencyConflict' }
        '402': { $ref: '#/components/responses/PaymentRequired' }
        '503': { $ref: '#/components/responses/PaidRequestUnavailable' }
        '406': { $ref: '#/components/responses/NotAcceptable' }
  /v1/agent/risk:
    get:
      operationId: getAgentRisk
      summary: Assess an ERC-8004 agent's identity, reputation, and registration integrity.
      description: >
        Price: $0.05 USDC per request.
        Fetches identity from ERC-8004 IdentityRegistry (Ethereum Mainnet + Base Mainnet),
        scans ReputationRegistry for bounded on-chain feedback (NewFeedback / FeedbackRevoked events),
        and fetches registration metadata or the agent card from the on-chain registration URI.
        A missing or unregistered agent is not itself a malicious signal: it returns
        scoreStatus=insufficient_evidence and recommendation=manual_review.
        Advertised services are observed as passive registration metadata; OMNI does not
        actively probe arbitrary service URLs for this endpoint.
      x-payment-info:
        price:
          mode: fixed
          currency: USDC
          amount: "0.050000"
        protocols:
          - x402: {}
        accepts:
          - scheme: exact
            network: "eip155:5042"
            asset: "0x3600000000000000000000000000000000000000"
            payTo: "0xd5154d79b52a5980e7b0e806f5e4bf3dca3798b5"
          - scheme: exact
            network: "eip155:8453"
            asset: "0x833589fcd6edb6e08f4c7c32d4f71b54bda02913"
            payTo: "0xd5154d79b52a5980e7b0e806f5e4bf3dca3798b5"
          - scheme: exact
            network: "eip155:1"
            asset: "0xa0b86991c6218b36c1d19d4a2e9eb0ce3606eb48"
            payTo: "0xd5154d79b52a5980e7b0e806f5e4bf3dca3798b5"
      parameters:
        - { $ref: '#/components/parameters/IdempotencyKey' }
        - { $ref: '#/components/parameters/Accept' }
        - in: query
          name: chain
          required: true
          description: >
            CAIP-2 chain reference (e.g. eip155:1 for Ethereum mainnet, eip155:8453 for Base mainnet).
            ERC-8004 identity is chain-specific — the same token ID on different chains is a different subject.
          schema:
            type: string
            pattern: '^eip155:[0-9]+$'
          example: "eip155:1"
        - in: query
          name: agentId
          required: true
          description: >
            ERC-8004 agent token id as a canonical decimal uint256 string. Hex, negative values,
            leading zeros except "0", and values greater than UINT256_MAX are rejected.
            UINT256_MAX is 115792089237316195423570985008687907853269984665640564039457584007913129639935;
            runtime validation is authoritative for this numeric upper bound.
          schema:
            type: string
            pattern: '^(0|[1-9][0-9]{0,77})$'
            maxLength: 78
          example: "42"

      responses:
        '200':
          description: Agent risk assessment with ERC-8004 identity, reputation, registration, and passive service metadata evidence.
          headers:
            PAYMENT-RESPONSE:
              $ref: '#/components/headers/PaymentResponse'
          content:
            application/json:
              schema: { $ref: '#/components/schemas/AgentRiskResponse' }
            text/markdown:
              schema: { type: string }
        '400': { $ref: '#/components/responses/InvalidRequest' }
        '409': { $ref: '#/components/responses/IdempotencyConflict' }
        '402': { $ref: '#/components/responses/PaymentRequired' }
        '503': { $ref: '#/components/responses/PaidRequestUnavailable' }
        '406': { $ref: '#/components/responses/NotAcceptable' }

  /.well-known/x402:
    get:
      operationId: getX402DiscoveryManifest
      summary: Free public x402 discovery manifest for agent discoverability.
      description: |
        Returns a machine-readable x402 discovery manifest describing supported payment
        networks and paid resources. This endpoint is FREE (no payment required).

        The networks listed are the currently supported Circle Gateway payment kinds,
        discovered live from the configured facilitator. Payment terms (networks,
        amounts, assets) can change. The actual PAYMENT-REQUIRED challenge from a paid
        request is authoritative at execution time.
      responses:
        '200':
          description: x402 discovery manifest.
          content:
            application/json:
              schema:
                type: object
                required: [x402Version, service, openapi, paymentTerms, networks, resources]
                properties:
                  x402Version: { type: integer, enum: [2] }
                  service: { type: string }
                  description: { type: string }
                  openapi: { type: string, format: uri }
                  paymentTerms: { type: string, enum: [live_402_authoritative] }
                  networks:
                    type: array
                    items: { type: string }
                  resources:
                    type: array
                    items:
                      type: object
                      required: [method, resource, price]
                      properties:
                        method: { type: string }
                        resource: { type: string, format: uri }
                        price:
                          type: object
                          required: [currency, amount]
                          properties:
                            currency: { type: string }
                            amount: { type: string }
        '503':
          description: Gateway discovery is unavailable and no cached capability exists.
          content:
            application/json:
              schema:
                type: object
                required: [error]
                properties:
                  error:
                    type: string
                    enum: [discovery_unavailable, gateway_discovery_unavailable]
components:
  headers:
    PaymentResponse:
      description: Optional base64-encoded JSON Circle x402 payment receipt emitted for the original successful settlement. OMNI durable replays intentionally omit this header rather than fabricating a new payment receipt. The decoded JSON contains success (boolean), transaction (string), network (string), and payer (string).
      schema:
        type: string
  parameters:
    Accept:
      name: Accept
      in: header
      required: false
      description: Response representation. Use application/json for compact machine/agent decisions or text/markdown for a concise human summary. Choose one representation per request; errors remain JSON. Replaying a completed Idempotency-Key may switch representation without another assessment or payment.
      schema:
        type: string
        default: application/json
    IdempotencyKey:
      name: Idempotency-Key
      in: header
      required: false
      description: Optional for an initial unpaid x402 discovery/challenge request. Required when submitting PAYMENT-SIGNATURE and for durable paid execution/replay semantics. It must be a UUID v4 and must be reused unchanged for retries. Reusing it for different validated input returns a conflict.
      schema:
        type: string
        format: uuid
        pattern: '^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-4[0-9a-fA-F]{3}-[89a-fA-F][0-9a-fA-F]{3}-[0-9a-fA-F]{12}$'
  responses:
    InvalidRequest:
      description: Request failed validation before payment was accepted.
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }
    PaymentRequired:
      description: Payment is required. Read the PAYMENT-REQUIRED response header and retry with a valid x402 payment signature.
      headers:
        PAYMENT-REQUIRED:
          required: true
          schema: { type: string }
    IdempotencyConflict:
      description: The Idempotency-Key is already bound to different validated route input.
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }
    NotAcceptable:
      description: The requested response representation is not supported or has zero acceptable quality.
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }
    PaidRequestUnavailable:
      description: Replica admission capacity is exhausted, or durable paid-request state/recovery is unavailable. The server fails closed and does not create another payment.
      headers:
        Retry-After:
          schema: { type: string, example: '1' }
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }
  schemas:
    PackageCoordinate:
      type: object
      additionalProperties: false
      required: [ecosystem, name, version]
      properties:
        ecosystem: { type: string, minLength: 1, maxLength: 32 }
        name: { type: string, minLength: 1, maxLength: 256 }
        version: { type: string, minLength: 1, maxLength: 128 }
    Subject:
      type: object
      required: [type, id]
      properties:
        type: { type: string, enum: [package, repository, dependency_set, x402_endpoint, agent] }
        id:
          type: string
          description: "Canonical subject ID. For agents: eip155:<chainId>:<identityRegistry>:<agentId>"
    Evidence:
      type: object
      required: [source, kind, observedAt, detail]
      properties:
        source: { type: string }
        kind: { type: string }
        observedAt: { type: string, format: date-time }
        expiresAt: { type: string, format: date-time }
        detail: { type: object, additionalProperties: true, description: Source-specific evidence detail. Internal RepositoryEvidence is not exposed as a top-level RiskAssessment field. }
    RiskDimensions:
      type: object
      required: [knownVulnerabilities, knownExploitation, packageSupplyChain, repositorySecurityPractices, maliciousInfrastructure, serviceIdentity, paymentConfigurationRisk, endpointOperationalRisk]
      properties:
        knownVulnerabilities: { $ref: '#/components/schemas/RiskDimensionLevel' }
        knownExploitation: { $ref: '#/components/schemas/RiskDimensionLevel' }
        packageSupplyChain: { $ref: '#/components/schemas/RiskDimensionLevel' }
        repositorySecurityPractices: { $ref: '#/components/schemas/RiskDimensionLevel' }
        maliciousInfrastructure: { $ref: '#/components/schemas/RiskDimensionLevel' }
        serviceIdentity: { $ref: '#/components/schemas/RiskDimensionLevel' }
        paymentConfigurationRisk: { $ref: '#/components/schemas/RiskDimensionLevel' }
        endpointOperationalRisk: { $ref: '#/components/schemas/RiskDimensionLevel' }
    RiskLevel:
      type: string
      enum: [low, medium, high, critical, unknown]
    RiskDimensionLevel:
      type: string
      description: Risk dimension state. not_applicable means the dimension does not apply to the subject; unknown means the dimension is relevant but evidence has not established it.
      enum: [low, medium, high, critical, unknown, not_applicable]
    RiskSignal:
      type: object
      required: [code, severity, source, detail]
      properties:
        code: { type: string }
        severity: { type: string, enum: [low, medium, high, critical] }
        source: { type: string }
        detail: { type: object, additionalProperties: true }
    EvidenceCoverageSource:
      type: object
      additionalProperties: false
      required: [source, execution, status, weight]
      properties:
        source: { type: string }
        execution: { type: string, enum: [QUERIED, NOT_QUERIED] }
        status: { type: string, enum: [OBSERVED, ABSENT, UNAVAILABLE, UNKNOWN, NOT_APPLICABLE] }
        weight: { type: number, minimum: 0 }
    EvidenceCoverage:
      type: object
      additionalProperties: false
      required: [modelVersion, resolvedWeight, applicableWeight, sources]
      properties:
        modelVersion: { type: string }
        resolvedWeight: { type: number, minimum: 0 }
        applicableWeight: { type: number, minimum: 0 }
        sources:
          type: array
          items: { $ref: '#/components/schemas/EvidenceCoverageSource' }

    OsvCwe:
      type: object
      additionalProperties: false
      properties:
        cweId: { type: string }
        name: { type: string }
        description: { type: string }
    MaliciousPackageIndicators:
      type: object
      additionalProperties: false
      required: [evidenceFiles, packageIntegrity]
      properties:
        evidenceFiles:
          type: array
          items:
            type: object
            additionalProperties: false
            properties:
              path: { type: string }
              sha256: { type: string, pattern: '^[0-9a-fA-F]{64}$' }
              tlsh: { type: string }
        packageIntegrity:
          type: array
          items:
            type: object
            additionalProperties: false
            required: [hashes]
            properties:
              filename: { type: string }
              hashes: { type: object, additionalProperties: { type: string } }
    MaliciousPackageObservation:
      type: object
      additionalProperties: false
      required: [schemaVersion, id, package, queriedVersion, affected, origins]
      properties:
        schemaVersion: { type: integer, enum: [1] }
        id: { type: string, pattern: '^MAL-.+' }
        package:
          type: object
          additionalProperties: false
          required: [ecosystem, name]
          properties:
            ecosystem: { type: string }
            name: { type: string }
            purl: { type: string }
        queriedVersion: { type: string }
        published: { type: string, format: date-time }
        modified: { type: string, format: date-time }
        sourceReference: { type: string, format: uri }
        affected:
          type: array
          items:
            type: object
            additionalProperties: false
            required: [package, versions, ranges]
            properties:
              package:
                type: object
                additionalProperties: false
                required: [ecosystem, name]
                properties:
                  ecosystem: { type: string }
                  name: { type: string }
                  purl: { type: string }
              versions:
                type: array
                items: { type: string }
              ranges:
                type: array
                items:
                  type: object
                  additionalProperties: false
                  required: [type, events]
                  properties:
                    type: { type: string }
                    repo: { type: string, format: uri }
                    events:
                      type: array
                      items:
                        type: object
                        additionalProperties: false
                        minProperties: 1
                        properties:
                          introduced: { type: string }
                          fixed: { type: string }
                          lastAffected: { type: string }
                          limit: { type: string }
              sourceReference: { type: string, format: uri }
              cwes:
                type: array
                items: { $ref: '#/components/schemas/OsvCwe' }
              indicators: { $ref: '#/components/schemas/MaliciousPackageIndicators' }
        origins:
          type: array
          items:
            type: object
            additionalProperties: false
            required: [source]
            properties:
              source: { type: string }
              id: { type: string }
              modifiedAt: { type: string, format: date-time }
              importedAt: { type: string, format: date-time }
              sha256: { type: string, pattern: '^[0-9a-fA-F]{64}$' }
              versions:
                type: array
                items: { type: string }
              ranges:
                type: array
                items:
                  type: object
                  additionalProperties: false
                  required: [type, events]
                  properties:
                    type: { type: string }
                    repo: { type: string, format: uri }
                    events:
                      type: array
                      items:
                        type: object
                        additionalProperties: false
                        minProperties: 1
                        properties:
                          introduced: { type: string }
                          fixed: { type: string }
                          lastAffected: { type: string }
                          limit: { type: string }
    RiskAssessment:
      type: object
      required: [subject, policyVersion, scoreStatus, recommendation, riskScore, evidenceCoverage, dimensions, signals, evidence, sourceErrors, assessedAt, freshness]
      properties:
        subject: { $ref: '#/components/schemas/Subject' }
        policyVersion:
          type: string
          description: Stable deterministic scoring-policy identity used for this assessment.
        scoreStatus:
          type: string
          enum: [measured, measured_partial, insufficient_evidence]
          description: Evidence sufficiency state. measured means all applicable modeled evidence resolved; measured_partial means some meaningful evidence resolved while applicable evidence remains incomplete; insufficient_evidence means no meaningful modeled evidence resolved sufficiently for normal recommendation handling. This is not statistical confidence.
        recommendation:
          type: string
          enum: [proceed, proceed_with_caution, manual_review, do_not_proceed]
          description: Advisory next action derived from deterministic policy using observed risk and, where applicable, evidence sufficiency; it is not an authorization decision.
        riskScore:
          type: integer
          minimum: 0
          maximum: 100
          description: Deterministic observed-risk score where 0 means lower observed risk and 100 means higher observed risk. For repository assessments, source failures and coverage loss do not increase observed riskScore; package and x402 assessment scoring semantics remain subject-specific.
        evidenceCoverage:
          type: number
          minimum: 0
          maximum: 1
          description: Fraction of applicable modeled evidence paths that resolved for the subject. It is not statistical confidence or a probability that the recommendation is correct.
        coverage:
          allOf:
            - $ref: '#/components/schemas/EvidenceCoverage'
          description: Additive source-aware coverage diagnostics. NOT_APPLICABLE sources are excluded from applicableWeight; OBSERVED and ABSENT sources contribute to resolvedWeight.
        dimensions: { $ref: '#/components/schemas/RiskDimensions' }
        signals:
          type: array
          items: { $ref: '#/components/schemas/RiskSignal' }
        evidence:
          type: array
          items: { $ref: '#/components/schemas/Evidence' }
        maliciousPackageObservations:
          type: array
          description: OpenSSF MAL-* observations returned by OSV. This field has no severity and does not alter scoring.
          items: { $ref: '#/components/schemas/MaliciousPackageObservation' }
        sourceErrors:
          type: array
          description: Named source failures. For repository assessments, source failures remain visible uncertainty and do not increase observed riskScore. Scorecard not_indexed means that no indexed result exists for the repository; it is not a generic provider outage.
          items: { type: string }
        assessedAt: { type: string, format: date-time }
        freshness:
          type: object
          additionalProperties: false
          required: [oldestEvidenceAt, newestEvidenceAt]
          description: Advisory evidence freshness metadata. If expiresAt is present, callers should obtain a new preflight when the current time reaches that deadline; this is not a settlement or authorization binding.
          properties:
            oldestEvidenceAt: { type: [string, 'null'], format: date-time }
            newestEvidenceAt: { type: [string, 'null'], format: date-time }
            expiresAt: { type: string, format: date-time }
    CompactSignal:
      type: object
      additionalProperties: false
      required: [code, severity, source]
      properties:
        code: { type: string }
        severity: { type: string, enum: [low, medium, high, critical] }
        source: { type: string }
        detail:
          type: object
          additionalProperties: false
          properties:
            changeCount: { type: integer, minimum: 0 }
            count: { type: integer, minimum: 0 }
            ecosystem: { type: string }
            id: { type: string }
            indicatorType: { type: string }
            name: { type: string }
            observedCount: { type: integer, minimum: 0 }
            reference: { type: string }
            retainedDetailCount: { type: integer, minimum: 0 }
            severity: { type: string }
            status: { type: string }
            summaryStatus: { type: string }
            threatType: { type: string }
            version: { type: string }
            observedCountsBySeverity: { type: object, additionalProperties: { type: integer, minimum: 0 } }
    RepositoryRiskSummary:
      type: object
      additionalProperties: false
      required: [dependencies, vulnerabilities, knownExploitation, maliciousPackages, threatIntelligence, provenance, securityPractices]
      properties:
        dependencies:
          type: object
          additionalProperties: false
          required: [exact, unresolved, resolutionComplete]
          properties:
            exact: { type: integer, minimum: 0 }
            unresolved: { type: integer, minimum: 0 }
            resolutionComplete: { type: boolean }
        vulnerabilities:
          type: object
          additionalProperties: false
          required: [total, unknown, low, medium, high, critical, highestSeverity]
          properties:
            total: { type: integer, minimum: 0 }
            unknown: { type: integer, minimum: 0 }
            low: { type: integer, minimum: 0 }
            medium: { type: integer, minimum: 0 }
            high: { type: integer, minimum: 0 }
            critical: { type: integer, minimum: 0 }
            highestSeverity: { type: [string, 'null'], enum: [low, medium, high, critical, unknown, null] }
        knownExploitation:
          type: object
          additionalProperties: false
          required: [kevMatches, status]
          properties:
            kevMatches: { type: integer, minimum: 0 }
            status: { type: string, enum: [NOT_QUERIED, CHECKED, UNAVAILABLE, UNKNOWN] }
        maliciousPackages:
          type: object
          additionalProperties: false
          required: [observed]
          properties:
            observed: { type: integer, minimum: 0 }
        threatIntelligence:
          type: object
          additionalProperties: false
          required: [status, findings, highestSeverity]
          properties:
            status: { type: string, enum: [NOT_CHECKED, CHECKED, UNAVAILABLE, UNKNOWN] }
            findings: { type: integer, minimum: 0 }
            highestSeverity: { type: [string, 'null'], enum: [low, medium, high, critical, null] }
        provenance:
          type: object
          additionalProperties: false
          required: [sourceMismatch, commitMismatch, unavailable]
          properties:
            sourceMismatch: { type: integer, minimum: 0 }
            commitMismatch: { type: integer, minimum: 0 }
            unavailable: { type: integer, minimum: 0 }
        securityPractices:
          type: object
          additionalProperties: false
          required: [mutableActions, workflowWritePermissions, downloadExecuteFindings]
          properties:
            mutableActions: { type: integer, minimum: 0 }
            workflowWritePermissions: { type: integer, minimum: 0 }
            downloadExecuteFindings: { type: integer, minimum: 0 }
    ResponseOmissions:
      type: object
      additionalProperties: false
      required: [evidenceDetailsOmitted, dependencyDetailsOmitted]
      description: Public representation omission counts. For x402 preflight, paymentOptionsOmitted reports options beyond the maximum of 8 retained public options; a nonzero count makes an unmatched selected option insufficient context rather than a definitive mismatch.
      properties:
        evidenceDetailsOmitted: { type: integer, minimum: 0 }
        dependencyDetailsOmitted: { type: integer, minimum: 0 }
        signalsOmitted: { type: integer, minimum: 0 }
        sourceErrorsOmitted: { type: integer, minimum: 0 }
        packagesOmitted: { type: integer, minimum: 0 }
        coverageSourcesOmitted: { type: integer, minimum: 0 }
        paymentOptionsOmitted: { type: integer, minimum: 0 }
    CompactRiskAssessmentFields:
      type: object
      required: [subject, policyVersion, scoreStatus, recommendation, riskScore, evidenceCoverage, dimensions, signals, sourceErrors, omissions, assessedAt, freshness]
      properties:
        subject: { $ref: '#/components/schemas/Subject' }
        policyVersion: { type: string }
        scoreStatus: { type: string, enum: [measured, measured_partial, insufficient_evidence] }
        recommendation: { type: string, enum: [proceed, proceed_with_caution, manual_review, do_not_proceed] }
        riskScore: { type: integer, minimum: 0, maximum: 100 }
        evidenceCoverage: { type: number, minimum: 0, maximum: 1 }
        coverage: { $ref: '#/components/schemas/EvidenceCoverage' }
        dimensions: { $ref: '#/components/schemas/RiskDimensions' }
        signals:
          type: array
          maxItems: 32
          items: { $ref: '#/components/schemas/CompactSignal' }
        repositorySummary: { $ref: '#/components/schemas/RepositoryRiskSummary' }
        maliciousPackageObservations:
          type: object
          additionalProperties: false
          required: [observed, ids]
          properties:
            observed: { type: integer, minimum: 0 }
            ids:
              type: array
              maxItems: 16
              items: { type: string }
            idsOmitted: { type: integer, minimum: 0 }
        sourceErrors:
          type: array
          maxItems: 16
          items: { type: string }
        omissions: { $ref: '#/components/schemas/ResponseOmissions' }
        assessedAt: { type: string, format: date-time }
        freshness:
          type: object
          additionalProperties: false
          required: [oldestEvidenceAt, newestEvidenceAt]
          properties:
            oldestEvidenceAt: { type: [string, 'null'], format: date-time }
            newestEvidenceAt: { type: [string, 'null'], format: date-time }
            expiresAt: { type: string, format: date-time }
    RiskAssessmentResponse:
      allOf:
        - $ref: '#/components/schemas/CompactRiskAssessmentFields'
      unevaluatedProperties: false
      description: Compact machine-readable JSON response. Raw evidence, provider payloads, Markdown, and full dependency details are intentionally omitted; omission counts are explicit.
    ObservedPaymentRequirement:
      type: object
      additionalProperties: false
      description: A payment option as observed during preflight. Fields absent from the observation are omitted; OMNI never invents values.
      properties:
        scheme: { type: string }
        network: { type: string }
        amount: { type: string, description: Atomic-unit amount string. }
        asset: { type: string }
        payTo: { type: string }
        maxTimeoutSeconds: { type: integer }
        extra:
          type: object
          additionalProperties: false
          properties:
            name: { type: string }
            version: { type: string }
            verifyingContract: { type: string }
    X402PreflightContext:
      type: object
      additionalProperties: false
      required: [resource, paymentOptions]
      description: Public observational/advisory record of the preflight payment configuration. Up to 8 observed options are retained; additional options are reported by the top-level omissions.paymentOptionsOmitted field. It is not an authorization object and does not bind any settlement.
      properties:
        resource: { type: string, format: uri }
        paymentOptions:
          type: array
          maxItems: 8
          items: { $ref: '#/components/schemas/ObservedPaymentRequirement' }
    X402EndpointPreflight:
      type: object
      allOf:
        - $ref: '#/components/schemas/CompactRiskAssessmentFields'
        - type: object
          required: [preflightContext]
          properties:
            preflightContext: { $ref: '#/components/schemas/X402PreflightContext' }
      unevaluatedProperties: false
      description: Top-level successful JSON x402 preflight response with compact risk fields and bounded observed preflight context.
    DependencyAssessment:
      type: object
      required: [packages, summary, assessedAt, omissions]
      properties:
        packages:
          type: array
          maxItems: 16
          items: { $ref: '#/components/schemas/RiskAssessmentResponse' }
        summary:
          type: object
          required: [count, worstRiskScore, recommendations]
          properties:
            count: { type: integer, minimum: 1, maximum: 100 }
            worstRiskScore: { type: integer, minimum: 0, maximum: 100 }
            recommendations:
              type: object
              additionalProperties: { type: integer, minimum: 0 }
        assessedAt: { type: string, format: date-time }
        omissions: { $ref: '#/components/schemas/ResponseOmissions' }
    AgentChainIdentityResult:
      type: object
      additionalProperties: false
      required: [chainId, registered]
      properties:
        chainId: { type: integer }
        registered: { type: boolean }
        ownerAddress: { type: string }
        agentWallet: { type: string }
        registrationUri: { type: string }
        error: { type: string }
    AgentReputationSummary:
      type: object
      additionalProperties: false
      required: [chainId, totalFeedback, activeFeedback, revokedFeedback, positiveRatings, negativeRatings, neutralRatings, historyCoverage, blocksScanned, errors]
      properties:
        chainId: { type: integer }
        totalFeedback: { type: integer, minimum: 0 }
        activeFeedback: { type: integer, minimum: 0 }
        revokedFeedback: { type: integer, minimum: 0 }
        positiveRatings: { type: integer, minimum: 0 }
        negativeRatings: { type: integer, minimum: 0 }
        neutralRatings: { type: integer, minimum: 0 }
        historyCoverage: { type: string, enum: [complete, partial] }
        blocksScanned: { type: string, description: "Number of blocks scanned, as a decimal string." }
        errors:
          type: array
          items: { type: string }
    AgentServiceObservation:
      type: object
      additionalProperties: false
      required: [type]
      properties:
        type: { type: string }
        endpoint: { type: string, format: uri }
        schema: { type: string }
    AgentRiskDimensions:
      type: object
      additionalProperties: false
      required: [agentIdentity, agentReputation, agentValidation]
      properties:
        agentIdentity:
          type: string
          enum: [registered_verified, not_registered, unknown]
          description: Whether the agent is verifiably registered in the ERC-8004 IdentityRegistry on a production chain.
        agentReputation:
          type: string
          enum: [positive, neutral, negative, insufficient, unknown]
          description: Aggregated reputation signal derived from on-chain feedback.
        agentValidation:
          type: string
          enum: [services_observed, no_services, inactive_registration, card_unavailable, unknown]
          description: Service / x402 endpoint evidence from the agent card.
    AgentRisk:
      type: object
      additionalProperties: false
      required: [agentId, primaryChainId, dimensions, chainEvidence]
      description: >
        Agent-specific risk extension. Present only when subject.type === "agent".
        agentId is the token id as a decimal string.
        registered=false is not a malicious signal: it produces scoreStatus=insufficient_evidence.
      properties:
        agentId: { type: string, description: "ERC-8004 token id, decimal string." }
        primaryChainId: { type: integer, description: "Chain where the agent was first found registered." }
        agentWallet: { type: string }
        registrationUri: { type: string, format: uri }
        agentName: { type: string }
        agentDescription: { type: string }
        dimensions: { $ref: '#/components/schemas/AgentRiskDimensions' }
        chainEvidence:
          type: array
          items: { $ref: '#/components/schemas/AgentChainIdentityResult' }
        reputationSummary: { $ref: '#/components/schemas/AgentReputationSummary' }
        services:
          type: array
          items: { $ref: '#/components/schemas/AgentServiceObservation' }

    AgentRiskResponse:
      type: object
      allOf:
        - $ref: '#/components/schemas/CompactRiskAssessmentFields'
        - type: object
          required: [agentRisk]
          properties:
            agentRisk: { $ref: '#/components/schemas/AgentRisk' }
      unevaluatedProperties: false
      description: >
        Compact machine-readable JSON response for an ERC-8004 agent risk assessment.
        The standard CompactRiskAssessmentFields carry the base risk score and coverage;
        the agentRisk extension carries agent-specific identity, reputation, registration,
        and passive service metadata evidence.
    Error:
      type: object
      required: [error]
      properties:
        error: { type: string }
        retryable: { type: boolean }
