openapi: 3.1.0
info:
  title: OMNI Pre-Execution Trust & Risk API
  version: 0.2.0
  description: Machine-consumable pre-execution risk evidence for software supply chain and x402 services, paid per request with Circle Gateway nanopayments.
  contact:
    email: askomni.xyz@gmail.com
  x-guidance: >
    Use OMNI before an agent installs a package, trusts a GitHub repository,
    evaluates a dependency set, or pays an x402 endpoint. Inputs are an exact
    package coordinate, repository owner/name, up to 100 exact package
    coordinates, or a target endpoint URL. Outputs include riskScore,
    recommendation, evidenceCoverage, source-attributed signals and evidence,
    sourceErrors, and deterministic JSON/Markdown representations. OMNI is
    advisory: caller policy decides whether to proceed, the wallet/runtime
    enforces payment policy, and Circle settles payment. Call OMNI when fresh
    pre-execution evidence is required before software execution or payment.
servers:
  - url: https://api.askomni.xyz
externalDocs:
  description: OMNI agent usage, payment, and integration guidance
  url: https://api.askomni.xyz/llms.txt
paths:
  /health:
    get:
      operationId: getHealth
      summary: Report process liveness.
      description: Returns HTTP 200 when the OMNI process is running and can serve HTTP responses. It does not check upstream evidence providers or history storage.
      responses:
        '200':
          description: The OMNI process is alive.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                required: [service, status]
                properties:
                  service: { type: string, const: OMNI }
                  status: { type: string, const: healthy }
  /ready:
    get:
      operationId: getReadiness
      summary: Report whether this replica can accept paid API requests.
      description: History storage is non-blocking for core assessments, but the durable paid-request store is required before this replica can accept paid API requests.
      responses:
        '200':
          description: This replica can accept paid API requests when status is ready.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                required: [service, status, dependencies]
                properties:
                  service: { type: string, const: OMNI }
                  status: { type: string, const: ready }
                  dependencies:
                    type: object
                    additionalProperties: false
                    required: [historyStore, threatIntelligence, paidRequests]
                    properties:
                      historyStore: { type: string, enum: [available, degraded] }
                      threatIntelligence: { type: string, enum: [configured, unconfigured, degraded] }
                      paidRequests: { type: string, const: available }
        '503':
          description: This replica cannot safely accept paid API requests because the durable paid-request store is unavailable.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                required: [service, status, dependencies]
                properties:
                  service: { type: string, const: OMNI }
                  status: { type: string, const: degraded }
                  dependencies:
                    type: object
                    additionalProperties: false
                    required: [historyStore, threatIntelligence, paidRequests]
                    properties:
                      historyStore: { type: string, enum: [available, degraded] }
                      threatIntelligence: { type: string, enum: [configured, unconfigured, degraded] }
                      paidRequests: { type: string, const: unavailable }
  /v1/package/risk:
    get:
      operationId: getPackageRisk
      summary: Assess an exact package version before an agent installs it.
      description: "Price: $0.005 USDC per request. npm assessments combine vulnerability/exploitation evidence with registry supply-chain metadata and optional licensed threat-intelligence matches."
      x-payment-info:
        price:
          mode: fixed
          currency: USDC
          amount: "0.005000"
        protocols:
          - x402: {}
      parameters:
        - { $ref: '#/components/parameters/IdempotencyKey' }
        - { $ref: '#/components/parameters/Accept' }
        - { in: query, name: ecosystem, required: true, schema: { type: string, minLength: 1, maxLength: 32 }, example: npm }
        - { in: query, name: name, required: true, schema: { type: string, minLength: 1, maxLength: 256 }, example: express }
        - { in: query, name: version, required: true, schema: { type: string, minLength: 1, maxLength: 128 }, example: 5.2.1 }
      responses:
        '200':
          description: Risk assessment with source-attributed evidence and explicit source failures.
          headers:
            PAYMENT-RESPONSE:
              $ref: '#/components/headers/PaymentResponse'
          content:
            application/json:
              schema: { $ref: '#/components/schemas/RiskAssessmentResponse' }
            text/markdown:
              schema: { type: string }
        '400': { $ref: '#/components/responses/InvalidRequest' }
        '409': { $ref: '#/components/responses/IdempotencyConflict' }
        '402': { $ref: '#/components/responses/PaymentRequired' }
        '503': { $ref: '#/components/responses/PaidRequestUnavailable' }
        '406': { $ref: '#/components/responses/NotAcceptable' }
  /v1/repo/risk:
    get:
      operationId: getRepositoryRisk
      summary: Assess GitHub repository security practices.
      description: "Price: $0.01 USDC per request. GitHub repository evidence is bound to the resolved immutable commit; deps.dev provenance is checked against the expected repository/commit where available. Scorecard is currently queried in latest mode, so its evidence is not equivalent to commit-pinned GitHub evidence. Repository evidence limitations are surfaced as source-attributed evidence and do not alter the Scorecard-authoritative omni-risk-v1 repository score/recommendation."
      x-payment-info:
        price:
          mode: fixed
          currency: USDC
          amount: "0.010000"
        protocols:
          - x402: {}
      parameters:
        - { $ref: '#/components/parameters/IdempotencyKey' }
        - { $ref: '#/components/parameters/Accept' }
        - { in: query, name: owner, required: true, schema: { type: string, pattern: '^[A-Za-z0-9_.-]{1,100}$' }, example: expressjs }
        - { in: query, name: repo, required: true, schema: { type: string, pattern: '^[A-Za-z0-9_.-]{1,100}$' }, example: express }
      responses:
        '200':
          description: Risk assessment with source-attributed evidence and explicit source failures.
          headers:
            PAYMENT-RESPONSE:
              $ref: '#/components/headers/PaymentResponse'
          content:
            application/json:
              schema: { $ref: '#/components/schemas/RiskAssessmentResponse' }
            text/markdown:
              schema: { type: string }
        '400': { $ref: '#/components/responses/InvalidRequest' }
        '409': { $ref: '#/components/responses/IdempotencyConflict' }
        '402': { $ref: '#/components/responses/PaymentRequired' }
        '503': { $ref: '#/components/responses/PaidRequestUnavailable' }
        '406': { $ref: '#/components/responses/NotAcceptable' }
  /v1/dependencies/risk:
    post:
      operationId: assessDependencies
      summary: Assess up to 100 exact dependency versions.
      description: "Price: $0.05 USDC per request. Packages are evaluated in bounded waves to protect upstream capacity."
      x-payment-info:
        price:
          mode: fixed
          currency: USDC
          amount: "0.050000"
        protocols:
          - x402: {}
      parameters:
        - { $ref: '#/components/parameters/IdempotencyKey' }
        - { $ref: '#/components/parameters/Accept' }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required: [packages]
              properties:
                packages:
                  type: array
                  minItems: 1
                  maxItems: 100
                  items: { $ref: '#/components/schemas/PackageCoordinate' }
      responses:
        '200':
          description: Per-package assessments and aggregate summary.
          headers:
            PAYMENT-RESPONSE:
              $ref: '#/components/headers/PaymentResponse'
          content:
            application/json:
              schema: { $ref: '#/components/schemas/DependencyAssessment' }
            text/markdown:
              schema: { type: string }
        '400': { $ref: '#/components/responses/InvalidRequest' }
        '409': { $ref: '#/components/responses/IdempotencyConflict' }
        '402': { $ref: '#/components/responses/PaymentRequired' }
        '503': { $ref: '#/components/responses/PaidRequestUnavailable' }
        '406': { $ref: '#/components/responses/NotAcceptable' }
  /v1/x402/endpoint/preflight:
    get:
      operationId: preflightX402Endpoint
      summary: Assess an x402 endpoint before an agent decides to call or pay it.
      description: "Price: $0.01 USDC per request. Combines Circle Discovery identity, constrained unpaid handshake evidence, OMNI change history, payout configuration drift, and licensed IOC matches when configured. Listed non-GET endpoints are not invoked."
      x-payment-info:
        price:
          mode: fixed
          currency: USDC
          amount: "0.010000"
        protocols:
          - x402: {}
      parameters:
        - { $ref: '#/components/parameters/IdempotencyKey' }
        - { $ref: '#/components/parameters/Accept' }
        - { in: query, name: url, required: true, schema: { type: string, format: uri, maxLength: 2048 } }
      responses:
        '200':
          description: "Endpoint risk assessment with source-attributed evidence and explicit source failures. preflightContext is observational/advisory: it reports the payment configuration observed during preflight and is not an authorization object."
          headers:
            PAYMENT-RESPONSE:
              $ref: '#/components/headers/PaymentResponse'
          content:
            application/json:
              schema: { $ref: '#/components/schemas/X402EndpointPreflight' }
            text/markdown:
              schema: { type: string }
        '400': { $ref: '#/components/responses/InvalidRequest' }
        '409': { $ref: '#/components/responses/IdempotencyConflict' }
        '402': { $ref: '#/components/responses/PaymentRequired' }
        '503': { $ref: '#/components/responses/PaidRequestUnavailable' }
        '406': { $ref: '#/components/responses/NotAcceptable' }
components:
  headers:
    PaymentResponse:
      description: Optional base64-encoded JSON Circle x402 payment receipt emitted for the original successful settlement. OMNI durable replays intentionally omit this header rather than fabricating a new payment receipt. The decoded JSON contains success (boolean), transaction (string), network (string), and payer (string).
      schema:
        type: string
  parameters:
    Accept:
      name: Accept
      in: header
      required: false
      description: Response representation. JSON is the canonical default; use text/markdown for a deterministic human-readable view of the same result. Errors remain JSON.
      schema:
        type: string
        default: application/json
    IdempotencyKey:
      name: Idempotency-Key
      in: header
      required: false
      description: Optional for an initial unpaid x402 discovery/challenge request. Required when submitting PAYMENT-SIGNATURE and for durable paid execution/replay semantics. It must be a UUID v4 and must be reused unchanged for retries. Reusing it for different validated input returns a conflict.
      schema:
        type: string
        format: uuid
        pattern: '^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-4[0-9a-fA-F]{3}-[89a-fA-F][0-9a-fA-F]{3}-[0-9a-fA-F]{12}$'
  responses:
    InvalidRequest:
      description: Request failed validation before payment was accepted.
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }
    PaymentRequired:
      description: Payment is required. Read the PAYMENT-REQUIRED response header and retry with a valid x402 payment signature.
      headers:
        PAYMENT-REQUIRED:
          required: true
          schema: { type: string }
    IdempotencyConflict:
      description: The Idempotency-Key is already bound to different validated route input.
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }
    NotAcceptable:
      description: The requested response representation is not supported or has zero acceptable quality.
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }
    PaidRequestUnavailable:
      description: Replica admission capacity is exhausted, or durable paid-request state/recovery is unavailable. The server fails closed and does not create another payment.
      headers:
        Retry-After:
          schema: { type: string, example: '1' }
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }
  schemas:
    PackageCoordinate:
      type: object
      additionalProperties: false
      required: [ecosystem, name, version]
      properties:
        ecosystem: { type: string, minLength: 1, maxLength: 32 }
        name: { type: string, minLength: 1, maxLength: 256 }
        version: { type: string, minLength: 1, maxLength: 128 }
    Subject:
      type: object
      required: [type, id]
      properties:
        type: { type: string, enum: [package, repository, dependency_set, x402_endpoint] }
        id: { type: string }
    Evidence:
      type: object
      required: [source, kind, observedAt, detail]
      properties:
        source: { type: string }
        kind: { type: string }
        observedAt: { type: string, format: date-time }
        expiresAt: { type: string, format: date-time }
        detail: { type: object, additionalProperties: true, description: Source-specific evidence detail. Internal RepositoryEvidence is not exposed as a top-level RiskAssessment field. }
    RiskDimensions:
      type: object
      required: [knownVulnerabilities, knownExploitation, packageSupplyChain, repositorySecurityPractices, maliciousInfrastructure, serviceIdentity, paymentConfigurationRisk, endpointOperationalRisk]
      properties:
        knownVulnerabilities: { $ref: '#/components/schemas/RiskLevel' }
        knownExploitation: { $ref: '#/components/schemas/RiskLevel' }
        packageSupplyChain: { $ref: '#/components/schemas/RiskLevel' }
        repositorySecurityPractices: { $ref: '#/components/schemas/RiskLevel' }
        maliciousInfrastructure: { $ref: '#/components/schemas/RiskLevel' }
        serviceIdentity: { $ref: '#/components/schemas/RiskLevel' }
        paymentConfigurationRisk: { $ref: '#/components/schemas/RiskLevel' }
        endpointOperationalRisk: { $ref: '#/components/schemas/RiskLevel' }
    RiskLevel:
      type: string
      enum: [low, medium, high, critical, unknown]
    RiskSignal:
      type: object
      required: [code, severity, source, detail]
      properties:
        code: { type: string }
        severity: { type: string, enum: [low, medium, high, critical] }
        source: { type: string }
        detail: { type: object, additionalProperties: true }
    EvidenceCoverageSource:
      type: object
      additionalProperties: false
      required: [source, execution, status, weight]
      properties:
        source: { type: string }
        execution: { type: string, enum: [QUERIED, NOT_QUERIED] }
        status: { type: string, enum: [OBSERVED, ABSENT, UNAVAILABLE, UNKNOWN, NOT_APPLICABLE] }
        weight: { type: number, minimum: 0 }
    EvidenceCoverage:
      type: object
      additionalProperties: false
      required: [modelVersion, resolvedWeight, applicableWeight, sources]
      properties:
        modelVersion: { type: string }
        resolvedWeight: { type: number, minimum: 0 }
        applicableWeight: { type: number, minimum: 0 }
        sources:
          type: array
          items: { $ref: '#/components/schemas/EvidenceCoverageSource' }
    MarkdownArtifact:
      type: object
      additionalProperties: false
      required: [filename, mediaType, content]
      description: Deterministic Markdown payload supplied by OMNI. Artifact-capable clients may materialize it as the supplied filename and content; OMNI does not write a client filesystem.
      properties:
        filename:
          type: string
          description: Fixed service filename selected by the endpoint, never derived from a user-controlled target.
          examples: [package.risk.md, repo.risk.md, dependencies.risk.md, x402.endpoint.preflight.md]
        mediaType:
          type: string
          enum: [text/markdown]
        content:
          type: string
          description: Deterministic Markdown rendering of the same canonical structured result.
    OsvCwe:
      type: object
      additionalProperties: false
      properties:
        cweId: { type: string }
        name: { type: string }
        description: { type: string }
    MaliciousPackageIndicators:
      type: object
      additionalProperties: false
      required: [evidenceFiles, packageIntegrity]
      properties:
        evidenceFiles:
          type: array
          items:
            type: object
            additionalProperties: false
            properties:
              path: { type: string }
              sha256: { type: string, pattern: '^[0-9a-fA-F]{64}$' }
              tlsh: { type: string }
        packageIntegrity:
          type: array
          items:
            type: object
            additionalProperties: false
            required: [hashes]
            properties:
              filename: { type: string }
              hashes: { type: object, additionalProperties: { type: string } }
    MaliciousPackageObservation:
      type: object
      additionalProperties: false
      required: [schemaVersion, id, package, queriedVersion, affected, origins]
      properties:
        schemaVersion: { type: integer, enum: [1] }
        id: { type: string, pattern: '^MAL-.+' }
        package:
          type: object
          additionalProperties: false
          required: [ecosystem, name]
          properties:
            ecosystem: { type: string }
            name: { type: string }
            purl: { type: string }
        queriedVersion: { type: string }
        published: { type: string, format: date-time }
        modified: { type: string, format: date-time }
        sourceReference: { type: string, format: uri }
        affected:
          type: array
          items:
            type: object
            additionalProperties: false
            required: [package, versions, ranges]
            properties:
              package:
                type: object
                additionalProperties: false
                required: [ecosystem, name]
                properties:
                  ecosystem: { type: string }
                  name: { type: string }
                  purl: { type: string }
              versions:
                type: array
                items: { type: string }
              ranges:
                type: array
                items:
                  type: object
                  additionalProperties: false
                  required: [type, events]
                  properties:
                    type: { type: string }
                    repo: { type: string, format: uri }
                    events:
                      type: array
                      items:
                        type: object
                        additionalProperties: false
                        minProperties: 1
                        properties:
                          introduced: { type: string }
                          fixed: { type: string }
                          lastAffected: { type: string }
                          limit: { type: string }
              sourceReference: { type: string, format: uri }
              cwes:
                type: array
                items: { $ref: '#/components/schemas/OsvCwe' }
              indicators: { $ref: '#/components/schemas/MaliciousPackageIndicators' }
        origins:
          type: array
          items:
            type: object
            additionalProperties: false
            required: [source]
            properties:
              source: { type: string }
              id: { type: string }
              modifiedAt: { type: string, format: date-time }
              importedAt: { type: string, format: date-time }
              sha256: { type: string, pattern: '^[0-9a-fA-F]{64}$' }
              versions:
                type: array
                items: { type: string }
              ranges:
                type: array
                items:
                  type: object
                  additionalProperties: false
                  required: [type, events]
                  properties:
                    type: { type: string }
                    repo: { type: string, format: uri }
                    events:
                      type: array
                      items:
                        type: object
                        additionalProperties: false
                        minProperties: 1
                        properties:
                          introduced: { type: string }
                          fixed: { type: string }
                          lastAffected: { type: string }
                          limit: { type: string }
    RiskAssessment:
      type: object
      required: [subject, policyVersion, recommendation, riskScore, evidenceCoverage, dimensions, signals, evidence, sourceErrors, assessedAt, freshness]
      properties:
        subject: { $ref: '#/components/schemas/Subject' }
        policyVersion:
          type: string
          description: Stable deterministic scoring-policy identity used for this assessment.
        recommendation:
          type: string
          enum: [proceed, proceed_with_caution, manual_review, do_not_proceed]
          description: Advisory next action derived from the risk score; it is not an authorization decision.
        riskScore:
          type: integer
          minimum: 0
          maximum: 100
          description: Conservative decision-risk score where 0 means lower observed risk and 100 means higher observed risk; source failures can increase the score.
        evidenceCoverage:
          type: number
          minimum: 0
          maximum: 1
          description: Fraction of subject-specific evidence paths that completed successfully. It is not a probability that the recommendation is correct.
        coverage:
          allOf:
            - $ref: '#/components/schemas/EvidenceCoverage'
          description: Additive source-aware coverage diagnostics. NOT_APPLICABLE sources are excluded from applicableWeight; OBSERVED and ABSENT sources contribute to resolvedWeight.
        dimensions: { $ref: '#/components/schemas/RiskDimensions' }
        signals:
          type: array
          items: { $ref: '#/components/schemas/RiskSignal' }
        evidence:
          type: array
          items: { $ref: '#/components/schemas/Evidence' }
        maliciousPackageObservations:
          type: array
          description: OpenSSF MAL-* observations returned by OSV. Observation-only under omni-risk-v1; this field has no severity and does not alter scoring.
          items: { $ref: '#/components/schemas/MaliciousPackageObservation' }
        sourceErrors:
          type: array
          description: Named source failures. For repository Scorecard, not_indexed means that no indexed result exists for the repository; it is not a generic provider outage.
          items: { type: string }
        assessedAt: { type: string, format: date-time }
        freshness:
          type: object
          additionalProperties: false
          required: [oldestEvidenceAt, newestEvidenceAt]
          description: Advisory evidence freshness metadata. If expiresAt is present, callers should obtain a new preflight when the current time reaches that deadline; this is not a settlement or authorization binding.
          properties:
            oldestEvidenceAt: { type: [string, 'null'], format: date-time }
            newestEvidenceAt: { type: [string, 'null'], format: date-time }
            expiresAt: { type: string, format: date-time }
    RiskAssessmentResponse:
      allOf:
        - $ref: '#/components/schemas/RiskAssessment'
        - type: object
          required: [artifact]
          properties:
            artifact: { $ref: '#/components/schemas/MarkdownArtifact' }
      description: Top-level successful JSON risk response. The canonical assessment fields remain inline and artifact is an additive delivery payload.
    ObservedPaymentRequirement:
      type: object
      additionalProperties: false
      description: A payment option as observed during preflight. Fields absent from the observation are omitted; OMNI never invents values.
      properties:
        scheme: { type: string }
        network: { type: string }
        amount: { type: string, description: Atomic-unit amount string. }
        asset: { type: string }
        payTo: { type: string }
        maxTimeoutSeconds: { type: integer }
        extra:
          type: object
          additionalProperties: false
          properties:
            name: { type: string }
            version: { type: string }
            verifyingContract: { type: string }
    X402PreflightContext:
      type: object
      additionalProperties: false
      required: [resource, paymentOptions]
      description: Observational/advisory record of what OMNI saw during preflight. It is not an authorization object and does not bind any settlement.
      properties:
        resource: { type: string, format: uri }
        paymentOptions:
          type: array
          items: { $ref: '#/components/schemas/ObservedPaymentRequirement' }
    X402EndpointPreflight:
      type: object
      allOf:
        - $ref: '#/components/schemas/RiskAssessmentResponse'
        - type: object
          required: [preflightContext]
          properties:
            preflightContext: { $ref: '#/components/schemas/X402PreflightContext' }
      unevaluatedProperties: false
      description: Top-level successful JSON x402 preflight response with the observed preflight context and additive Markdown artifact payload.
    DependencyAssessment:
      type: object
      required: [packages, summary, assessedAt, artifact]
      properties:
        packages:
          type: array
          items: { $ref: '#/components/schemas/RiskAssessment' }
        summary:
          type: object
          required: [count, worstRiskScore, recommendations]
          properties:
            count: { type: integer, minimum: 1, maximum: 100 }
            worstRiskScore: { type: integer, minimum: 0, maximum: 100 }
            recommendations:
              type: object
              additionalProperties: { type: integer, minimum: 0 }
        assessedAt: { type: string, format: date-time }
        artifact: { $ref: '#/components/schemas/MarkdownArtifact' }
    Error:
      type: object
      required: [error]
      properties:
        error: { type: string }
        retryable: { type: boolean }
